<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='/style.css')}}">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
    <title>Pagina Principal</title>
</head>
<body>
    <div class="titulo">
    <h1>Feedback🍓</h1>
    <h2>Master Página</h2>
</div>
    <form action="/post/cadastro" method="POST">
        <div class="formulario">
       <label>Usuario</label>
       <input type="text" name="usuario">
       <label>Comentario</label>
        <textarea name="mensagem"> </textarea>
        <button type="submit">Enviar💖</button>
    </form>
     <div class="mensagens">
    
    <table>
        <thead>
            <td>
                Usuario
            </td>
            <td>
                Mensagem
            </td>
            <td>
                Data
            </td>
            <td>
                Ações
            </td>
            <tbody>
                 {% for mensagem in  mensagens}  
                 <tr>
                    <td>
                      {{mensagem.usuario }}
                    </td>
                    <td>
                        {{mensagem.mensagem }} 
                    </td>
                    <td>
                        {{mensagem.data_hora}}
                    </td>
                    <td>
                    <a href="/delete/mensagem/{{mensagem.cod_comentario}}" class="waves-effect waves-light btn" >Excluir💜</a>
                    </td>
                 </tr>
                        {% endfor}
            </tbody>
        </thead>

    </table>
        
   </div>
</body>
</html>