<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='/style.css')}}">
    <title>Pagina Principal</title>
</head>
<body>
    <div class="titulo">
    <h1>Feedback</h1>
    <h2>Master Página</h2>
</div>
    <form class="formulario">
       <label>Usuario</label>
       <input type="text">
       <label>Comentario</label>
        <textarea></textarea>
        <button type="submit">Enviar💖</button>
    </form>
</body>
</html>