<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for ('static',filename='/login.css')}}">
    <title>Login</title>
</head>
<body>
    <main>
        <form>
            <div>
                <h2>Login Usuarios</h2>
                <label for="usuario">Login</label>
                <input type="name">
                <label for="senha">Senha</label>
                <input type="name">
                <button type="submit">Entrar</button> 
                <button type="submit">Cancelar</button>    
            </div>
        </form>
    </main>
</body>
</html>